<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HungerBox4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Admin.valid.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Admin.valid.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodType</display-name>
    <servlet-name>FoodType</servlet-name>
    <servlet-class>Admin.Food.FoodType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodType</servlet-name>
    <url-pattern>/FoodType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Food</display-name>
    <servlet-name>Add_Food</servlet-name>
    <servlet-class>Admin.Food.Add_Food</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Food</servlet-name>
    <url-pattern>/Add_Food</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_FoodPage</display-name>
    <servlet-name>Add_FoodPage</servlet-name>
    <servlet-class>Admin.Food.Add_FoodPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_FoodPage</servlet-name>
    <url-pattern>/Add_FoodPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Food</display-name>
    <servlet-name>Delete_Food</servlet-name>
    <servlet-class>Admin.Food.Delete_Food</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Food</servlet-name>
    <url-pattern>/Delete_Food</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_User</display-name>
    <servlet-name>Add_User</servlet-name>
    <servlet-class>Admin.User.Add_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_User</servlet-name>
    <url-pattern>/Add_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_UserDetails</display-name>
    <servlet-name>Add_UserDetails</servlet-name>
    <servlet-class>Admin.User.Add_UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_UserDetails</servlet-name>
    <url-pattern>/Add_UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_UserDetails</display-name>
    <servlet-name>Delete_UserDetails</servlet-name>
    <servlet-class>Admin.User.Delete_UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_UserDetails</servlet-name>
    <url-pattern>/Delete_UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Collect_FoodDetails</display-name>
    <servlet-name>Collect_FoodDetails</servlet-name>
    <servlet-class>User.Details.Collect_FoodDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Collect_FoodDetails</servlet-name>
    <url-pattern>/Collect_FoodDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_reduser</display-name>
    <servlet-name>Admin_reduser</servlet-name>
    <servlet-class>Admin.Admin_reduser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_reduser</servlet-name>
    <url-pattern>/Admin_reduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_redfood</display-name>
    <servlet-name>Admin_redfood</servlet-name>
    <servlet-class>Admin.Admin_redfood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_redfood</servlet-name>
    <url-pattern>/Admin_redfood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>Admin.beans.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>